
    <table class="w-full text-sm text-center rtl:text-right text-gray-500 dark:text-gray-400    border-gray-600">
        <thead class="text-xs text-gray-900 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    #
                </th>
                <th scope="col" class="px-6 py-3">
                    Employee
                </th>
                <th scope="col" class="px-6 py-3">
                    Reviewer
                </th>
                <th scope="col" class="px-6 py-3">
                    Review Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let feedback of feedbacks ; let i=index">
                <td class="px-6 py-4">
                    {{i+1}} 
                </td>
                <td class="px-6 py-4">
                    {{ feedback.employeeId.name}}
                </td>
                <td class="px-6 py-4">
                    {{ feedback.reviewerId.name}}
                </td>
                <td class="px-6 py-4">
                    {{ feedback.date  | date: 'longDate' }}
                </td>
    
                <td class="px-6 py-4">
                    <button class="bg-gray-950 rounded text-gray-100 p-2 text-sm hover:bg-gray-600" >Add Review</button>
                </td>
            </tr>
    
          
        </tbody>
    </table>